<h1><%= title %></h1>

<div class="error-wrapper">
    <p>
        <%- message %>
    </p>
    
    <p>Sorry, it seems we took a wrong turn. Please try again or return to our home page.</p>
    
    <p><a href="/" title="Return to home page">Back to Home</a></p>
</div>